
.s{
    margin-left: 50px;
    margin-top: 50px;
}

.nanta {
    margin-left: 1025px;
    margin-bottom: 77px;
}
.nan {
    
    color: red;
    margin-left: 370px;
}
button{
    margin-left: 600px;
}
.mian {
    margin-left: 460px;
}