#r{
    text-align: end;
}
.f {
    background-color: white;
}
.p {
    background-color: burlywood;
}
.q {
    background-color: aqua
}
.e {
    background-color: darkmagenta;
}
.y {
    margin-top: 15px;
}